.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-container {
  max-height: 80px;
}
.logo {
  width: 150px;
  height: auto;
}
.nav-container {
  max-width: var(--max-width);
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}
.navbar {
  width: 100%;
}
.navbar ul {
  display: flex;
  gap: 30px;
}
.navbar a {
  color: var(--black);
  font-size: 13px;
  font-weight: 600;
}
.navbar li {
  position: relative;
}
.navbar li .arrow-submenu {
  display: flex;
  gap: 8px;
}
.arrow-submenu i {
  font-size: 12px;
  margin-top: 0px;
}
.navbar ul .submenu {
  display: none;
  position: absolute;
  background-color: var(--white);
  top: 100%;
  left: 0;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px var(--shadow-color);
  z-index: 10;
}
.navbar a,
.navbar li {
  transition: all 0.3s ease;
}
.navbar a:hover,
.navbar li:hover {
  color: var(--navy-blue-light);
}
.navbar li:hover > .submenu {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}
.navbar ul .submenu li {
  width: 250px;
}
.navbar ul .submenu a {
  padding: 12px;
  color: var(--gray-heading);
  font-weight: 500;
}
.submenu a:hover {
  background-color: var(--white-hover);
}
.header-title-container {
  width: 100%;
  text-align: left;
  position: relative;
}
.header-image {
  height: 200px;
}
.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 3px var(--lime-green);
}
.header-title {
  position: absolute;
  bottom: 20px;
  left: calc((100vw - var(--max-width)) / 2 + 10px);
  margin: 0;
  color: var(--white);
  font-size: 2.5rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  .header-title {
    left: 20px;
  }
}
