.sidebar {
  background-color: var(--royal-blue);
  width: 100%;
  padding: 35px;
  text-align: left;
  color: var(--white);
  border-bottom: 35px solid var(--royal-blue-dark);
}
.sidebar .heading {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
}
.sidebar-list-item {
  display: flex;
  padding: 10px 0;
  gap: 10px;
  align-items: center;
  border-bottom: 0.5px solid var(--light-gray);
}
.sidebar-list-item:nth-last-child(1) {
  border-bottom: none;
}
.sidebar-list-item i {
  font-size: 10px;
}
.sidebar-list-item .item-link {
  font-size: 14px;
  transition: all 0.3s ease;
}
.item-link:hover {
  color: var(--light-gray);
}
